<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29498246943-sdvc331pvucetotsa1h4l291tjrs0fkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29498246943-sdvc331pvucetotsa1h4l291tjrs0fkr</string>
	<key>API_KEY</key>
	<string>AIzaSyAra_2f4adRGXrDov9u2juP0GSQmUVy8po</string>
	<key>GCM_SENDER_ID</key>
	<string>29498246943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viingleo.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-80c78</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-80c78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29498246943:ios:0cf5510ed04c8b6633d22a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-80c78.firebaseio.com</string>
</dict>
</plist>